<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        USername: <input type="text" id="txtUsername" class="form-control" />
        Password: <input type="password" id="txtPassword" class="form-control" />
        <br />
        <input id="btnAuthen" type="button" class="btn btn-default" value="Authen and Get Employees" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-default" id="btnGetEmployees" value="Get Employees" />
        <ul id="ulEmployees"></ul>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var ulEmployees = $('#ulEmployees');
            $('#btnGetEmployees').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/api/employees',
                    dataType: 'json',
                    success: function (data) {
                        ulEmployees.empty();
                        $.each(data, function (index, val) {
                            var fullname = val.first + ' ' + val.last;
                            ulEmployees.append('<li>' + fullname + '</li>');
                        });
                    }
                });
            });
            $('#btnAuthen').click(function () {
                var username = $('#txtUsername').val();
                var password = $('#txtPassword').val();

                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:1256/api/employees',
                    dataType: 'json',
                    // btoa() -> method encoodes a string to base64
                    headers: {
                        'Authorization': 'Basic ' + btoa(username + ':' + password)
                    },
                    success: function (data) {
                        ulEmployees.empty();
                        $.each(data, function (index, val) {
                            var fullname = val.first + ' ' + val.last;
                            ulEmployees.append('<li>' + fullname + '</li>');
                        });
                    },
                    complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                            ulEmployees.empty();
                            ulEmployees.append('<li style="color:red">' + jqXHR.status + ' ' + jqXHR.statusText + '</li>');
                        }
                    }
                })
            });
        });
    </script>    
    
}